<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slcollege.eduservice.mapper.EduCourseMapper">
    <!--    根据课程id查询课程确认信息的语句-->
    <select id="getPublishCourseInfo" resultType="com.slcollege.eduservice.com.slcollege.serurity.entity.vo.CoursePublishVo">
        select ec.id,ec.title,ec.price,ec.lesson_num as lessonNum,ec.cover,
                     et.name as teacherName,
                     esj.title as subjectLevelOne,
                     ess.title as subjectLevelTwo
        from edu_course as ec left outer join edu_course_description as ecd on ec.id = ecd.id
                                                    left outer join edu_teacher as et on ec.teacher_id = et.id
                                                    left outer join edu_subject as esj on ec.subject_parent_id=esj.id
                                                    left outer join edu_subject as ess on ec.subject_id = ess.id
        where ec.id = #{courseId}
    </select>
    <!--     根据课程id查询课程详情信息-->
    <select id="getBaseCourseInfo" resultType="com.slcollege.eduservice.com.slcollege.serurity.entity.frontvo.CourseWebVo">
        SELECT
            ec.id,
            ec.title,
            ec.price,
            ec.lesson_num AS lessonNum,
            ec.cover,
            ec.buy_count AS buyCount,
            ec.view_count AS viewCount,
            ecd.description,
            et.id AS teacherId,
            et. NAME AS teacherName,
            et.intro,
            et.avatar,
            esj.id AS subjectLevelOneId,
            esj.title AS subjectLevelOne,
            ess.id AS subjectLevelTwoId,
            ess.title AS subjectLevelTwo
        FROM
            edu_course AS ec
        LEFT OUTER JOIN edu_course_description AS ecd ON ec.id = ecd.id
        LEFT OUTER JOIN edu_teacher AS et ON ec.teacher_id = et.id
        LEFT OUTER JOIN edu_subject AS esj ON ec.subject_parent_id = esj.id
        LEFT OUTER JOIN edu_subject AS ess ON ec.subject_id = ess.id
        WHERE
            ec.id = #{courseId}
    </select>
</mapper>
